<!DOCTYPE hmtl>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Main Page</title>
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='pageStyle.css')}}">
    </head>
    <body style="margin: 0">
        <div class="title">
            <div style="color: white;">歡迎光臨，請註冊登入系統</div>
        </div>
        <div class="subject">註冊帳號</div>
        <form action="/signup" method="POST">
                <div class="label">姓名 <input type="text" name="name" /></div>
                <div class="label">帳號 <input type="text" name="unsign_account"/></div>
                <div class="label">密碼 <input type="password" name="unsign_password"/></div>
                <div class="label"><button>註冊</button></div>
        </form>
        <HR>
        <div class="subject">登入系統</div>
        <form action="/signin" method="POST">              
                <div class="label">帳號 <input type="text" name="account"/></div>
                <div class="label">密碼 <input type="password" name="password"/></div>
                <div class="label"><button>登入</button></div> 
        </form>
    </body>
</html>